pre {
 border: 1px solid #000000;
 padding: 2px;
}

code {
 padding: 2px;
 white-space: pre;
}

kbd {
 padding: 2px;
 white-space: pre;
}

div.figure {
}

div.figure > img {
 max-width: 95%;
 display: block;
 margin-left: auto;
 margin-right: auto;
}

div.figure > p {
 width: 100%;
 text-align: center;
 font-style: italic;
}

