/**
 * Primary styles (custom section, non htmlboilerplate)
 * Author: Ethan Schoonover
 * See http://ethanschoonover.com/solarized
 */

$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

/**
 *
 */

polygon,path { stroke:#93a1a1; fill:#fdf6e3; }

body { background-color:#fdf6e3; }

tr:nth-child(odd) { fill:#eee8d5 }

text { fill:#657b83; }

.valuehighlight > polygon { stroke:#b58900; fill:#eee8d5; z-index:5; }
.valuehighlight > text { fill:#859900; z-index:10; }

a { pointer-events: visible; cursor: default; }
a:hover { cursor: context-menu; z-index:100; }
a:hover > path { stroke:#6c71c4; z-index:105; }
a:hover > polygon { stroke:#6c71c4; fill:#eee8d5; fill-opacity:1; z-index:100; }
a:hover > text { fill:#586e75; z-index:110; }
